body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  /* width: 400px; */
  min-height: 400px;
  background-color: #EEE;
  padding: 10px 10px 0 10px;
  margin: 30px auto auto;
}

.main-page .number-input {
  width: 100%;  
}

.board {
  padding: 8px;
}

.board-score {
  width: 100%;
  height: 40px;

  border-top: 2px solid #555;
  border-left: 2px solid #555;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
}

.board-restart {
  cursor: pointer;
}

.field {
  margin-top: 8px;

  border-top: 2px solid #555;
  border-left: 2px solid #555;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;

  -webkit-user-drag: none;
  user-select: none;
}


.column {
  background-color: #eee;;
  width: 25px;
  height: 25px;
  text-align: center;
  border-bottom: solid 2px #7b7b7b;
  border-right: solid 2px #7b7b7b;
  border-top: solid 2px #fff;
  border-left: solid 2px #fff;
}

.column.pressed {
  border-left: solid 1px #7b7b7b;
  border-top: solid 1px #7b7b7b;
  border-bottom: none;
  border-right: none;

  -webkit-user-drag: none;
  cursor: default;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  font-size: 18px;
  margin: 0 auto;
  width: 150px;
  opacity: 0.9;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 10px #333;
}

.popup.win {
  background-color: greenyellow;
}

.popup.loose {
  background-color: red;
  color: #fff;
}